<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FiskmoTranslationProvider.FiskmoTpSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="MarianTester.FiskmoTpSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="FiskmoTranslationProvider.FiskmoTp" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <FiskmoTranslationProvider.FiskmoTpSettings>
      <setting name="MtServicePort" serializeAs="String">
        <value>8477</value>
      </setting>
      <setting name="LocalFiskmoDir" serializeAs="String">
        <value>%localappdata%/fiskmo/</value>
      </setting>
      <setting name="SupportAllLanguagePairs" serializeAs="String">
        <value>True</value>
      </setting>
    </FiskmoTranslationProvider.FiskmoTpSettings>
    <MarianTester.FiskmoTpSettings>
      <setting name="ModelStorageUrl" serializeAs="String">
        <value>https://object.pouta.csc.fi/fiskmo</value>
      </setting>
      <setting name="LocalFiskmoDir" serializeAs="String">
        <value>%localappdata%/fiskmo/</value>
      </setting>
    </MarianTester.FiskmoTpSettings>
    <FiskmoTranslationProvider.FiskmoTp>
      <setting name="ModelStorageUrl" serializeAs="String">
        <value>https://object.pouta.csc.fi/fiskmo</value>
      </setting>
    </FiskmoTranslationProvider.FiskmoTp>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
