<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OpusMTService.OpusMTServiceSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <OpusMTService.OpusMTServiceSettings>
            <setting name="ModelStorageUrl" serializeAs="String">
                <value>https://object.pouta.csc.fi/OPUS-MT</value>
            </setting>
            <setting name="LocalFiskmoDir" serializeAs="String">
                <value>%localappdata%/fiskmo/</value>
            </setting>
        </OpusMTService.OpusMTServiceSettings>
    </userSettings>
</configuration>