<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="FiskmoTranslationProvider2017.FiskmoTpSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <FiskmoTranslationProvider2017.FiskmoTpSettings>
      <setting name="ModelStorageUrl" serializeAs="String">
        <value>https://object.pouta.csc.fi/OPUS-MT</value>
      </setting>
      <setting name="LocalFiskmoDir" serializeAs="String">
        <value>%localappdata%/fiskmo/</value>
      </setting>
    </FiskmoTranslationProvider2017.FiskmoTpSettings>
  </userSettings>
</configuration>