<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OpusCatMTEngine.OpusCatMTEngineSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OpusCatMTEngine.OpusCatMTEngineSettings>
            <setting name="OpusModelStorageUrl" serializeAs="String">
                <value>https://object.pouta.csc.fi/OPUS-MT-models/</value>
            </setting>
            <setting name="LocalOpusCatDir" serializeAs="String">
                <value>opuscat/</value>
            </setting>
            <setting name="MtServicePort" serializeAs="String">
                <value>8477</value>
            </setting>
            <setting name="CustomizationBaseConfig" serializeAs="String">
                <value>customize.yml</value>
            </setting>
            <setting name="TranslationDBName" serializeAs="String">
                <value>translations.sqlite</value>
            </setting>
            <setting name="LogDir" serializeAs="String">
                <value>logs</value>
            </setting>
            <setting name="MarianDir" serializeAs="String">
                <value>Marian</value>
            </setting>
            <setting name="PreprocessingDir" serializeAs="String">
                <value>Preprocessing</value>
            </setting>
            <setting name="ModelTagMaxLength" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="StartWcfHttpService" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TatoebaDir" serializeAs="String">
                <value>TatoebaTestsets</value>
            </setting>
            <setting name="OODValidSetSize" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="TrainLogName" serializeAs="String">
                <value>train.log</value>
            </setting>
            <setting name="IDValidSetSize" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="PostFinetuneBatchName" serializeAs="String">
                <value>postfinetune.txt</value>
            </setting>
            <setting name="CustomModelZipPath" serializeAs="String">
                <value>custom_model_packages</value>
            </setting>
            <setting name="HttpMtServicePort" serializeAs="String">
                <value>8500</value>
            </setting>
            <setting name="StoreOpusCatDataInLocalAppdata" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ModelDir" serializeAs="String">
                <value>models</value>
            </setting>
            <setting name="TatoebaModelStorageUrl" serializeAs="String">
                <value>https://object.pouta.csc.fi/Tatoeba-MT-models/</value>
            </setting>
            <setting name="DatabaseRemovalInterval" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="CacheMtInDatabase" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseDatabaseRemoval" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AllowRemoteUse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisplayOverlay" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OverlayFontsize" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="FinetuningSetMinSize" serializeAs="String">
                <value>1000</value>
            </setting>
        </OpusCatMTEngine.OpusCatMTEngineSettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.1.0.0" newVersion="6.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac.Integration.WebApi" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.1.0" newVersion="6.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac.Integration.Owin" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.1.0" newVersion="6.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
