<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OpusCatMTEngine.OpusCatMTEngineSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OpusCatMTEngine.OpusCatMTEngineSettings>
            <setting name="ModelStorageUrl" serializeAs="String">
                <value>https://object.pouta.csc.fi/OPUS-MT-models/</value>
            </setting>
            <setting name="LocalOpusCatDir" serializeAs="String">
                <value>opuscat/</value>
            </setting>
            <setting name="MtServicePort" serializeAs="String">
                <value>8477</value>
            </setting>
            <setting name="CustomizationBaseConfig" serializeAs="String">
                <value>customize.yml</value>
            </setting>
            <setting name="TranslationDBName" serializeAs="String">
                <value>translations.sqlite</value>
            </setting>
            <setting name="LogDir" serializeAs="String">
                <value>logs</value>
            </setting>
            <setting name="MarianDir" serializeAs="String">
                <value>Marian</value>
            </setting>
            <setting name="PreprocessingDir" serializeAs="String">
                <value>Preprocessing</value>
            </setting>
            <setting name="ModelTagMaxLength" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="StartHttpService" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TatoebaDir" serializeAs="String">
                <value>TatoebaTestsets</value>
            </setting>
            <setting name="OODValidSetSize" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="TrainLogName" serializeAs="String">
                <value>train.log</value>
            </setting>
            <setting name="IDValidSetSize" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="PostFinetuneBatchName" serializeAs="String">
                <value>postfinetune.txt</value>
            </setting>
            <setting name="CustomModelZipPath" serializeAs="String">
                <value>custom_model_packages</value>
            </setting>
        </OpusCatMTEngine.OpusCatMTEngineSettings>
    </userSettings>
</configuration>